<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>PANGATNIG</title>
  <script src="../js/modernizr.min.js" type="text/javascript"></script>
  <link rel="stylesheet" href="../js/normalize.min.css">
  <link rel="stylesheet" href="../css/style5.css">

  <style type="text/css">
    .disablediv{
      pointer-events: none;
    }
  </style>

  
</head>

<body>
<header>
  <h5><b>Enrichment 3:</b><br> Pindutin ang pangatnig sa hanay ng mga kahon.</h5>
</header>

<div class="wrap">
  <div id="disable">
  <div class="row">
  <section data-quiz-item>
    <div class="question">Kung ibig mong igalang ka ng iba, matuto ka munang gumalang sa iyong sarili.</div>
    <div class="choices" data-choices='["ng iba","Kung","matuto ka"]'>
    </div>
  </section>
  <section data-quiz-item>
    <div class="question">Pagnawala ang ilaw ng tadhana, saka magdidilim ang sambayanan.</div>
    <div class="choices" data-choices='["saka","Pag nawala","ang sambayanan"]'>
    </div>
  </section>
  </div>
  <div class="row">
  <section data-quiz-item>
    <div class="question">Hindi nasusukat ang tapang kundi sa labanan.</div>
    <div class="choices" data-choices='["kundi","ang tapang","sa labanan"]'>
    </div>
  </section>
   <section data-quiz-item>
     <div class="question">Kapag masalita ang tao, asahan mo't kulang sa gawa.</div>
    <div class="choices" data-choices='["sa gawa","ang tao","Kapag"]'>
    </div>
  </section>
  </div>
   <div class="row">
  <section data-quiz-item>
    <div class="question">Kung sakaling hindi ka nagtagumpay sa una, subukan mong gawin muli.</div>
    <div class="choices" data-choices='["Kung gayon","Kung","sa una"]'>
    </div>
  </section>
  <section data-quiz-item>
    <div class="question">Kung tayo ay magsisimba tuwing araw ng linggo, buhay natin ay pagpapalain.</div>
    <div class="choices" data-choices='["Tayo","ay magsimba","kung"]'>
    </div>
  </section>
  </div>
  <div class="row">
  <section data-quiz-item>
    <div class="question">Kapag ang bata ay lumaki sa layaw, asahan mo sa pagtanda ay walang kahihinatnan.</div>
    <div class="choices" data-choices='["Kapag","kung","sa layaw"]'>
    </div>
  </section>
  <section data-quiz-item>
    <div class="question">Dahil sa ikaw ay masipag, tuwang tuwa ang iyong mga magulang.</div>
    <div class="choices" data-choices='["mga magulang","sa matalino","Dahil sa"]'>
    </div>
  </section>
  </div>
  <div class="row">
  <section data-quiz-item>
    <div class="question">Samantalang ang ama ay nasa rurok ng tagumpay, ang anak naman ay puno ng layaw.</div>
    <div class="choices" data-choices='["Samantalang","ang ama","ng layaw"]'>
    </div>
  </section>
  <section data-quiz-item>
    <div class="question">Dahil sa kasipagan, ang lahat ay nagtatagumpay.</div>
    <div class="choices" data-choices='["ang lahat","nagtatagumpay","Dahil sa"]'>
    </div>
  </section>
  </div>
  <br>
  <div id="emc-score"></div>
</div>
  <div class="submit">
  <center><button> <a href="enrichmentcard.html">Bumalik</a></button>
  <button id="emc-submit" onclick="disablebutton()">Ipasa ang sagot</button></center>
  </div>
</div>

<footer>
</footer>

<script> if (typeof module === 'object'){window.module = module; module = undefined;} </script>
  <script src='../js/jquery.min.js'></script>
  <script  src="../js/index7.js"></script>
 <script> if (window.module) module = window.module; </script>

 <script type="text/javascript">
  function disablebutton(){
    $("#disable").addClass("disablediv");
    document.getElementById('emc-submit').disabled = true;
  }
 </script>



</body>

</html>
