<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>PANGATNIG</title>
  
  
  <link rel='stylesheet' href='../jquery/jquery-ui.css'>
  <link rel="stylesheet" href="../css/style4.css">
  
</head>

<body>

	<div class="quiz-wrapper">
		<p class="question-description">Ilagay ang pangatnig sa tamang kahon upang mabuo ang diwa ng pangungusap.</p>
		<ul class="options">
			<li class="title">Pagpipilian</li>
			<li class="option" data-target="2" id="2">upang</li>
			<li class="option" data-target="3" id="3">kung hindi</li>
			<li class="option" data-target="1" id="1">habang</li>
			<li class="option" data-target="5" id="5">at</li>
			<li class="option" data-target="4" id="4">kaya't</li>
		</ul>
	<div class="answers">
		<ol>
			<li>Si Andres Bonifacio ang namuno sa KKK <span class="target" data-accept="1">&nbsp;</span> Si Jose Rizal ay sumulat ng mga nobela laban sa mga Kastila.<br></li>
			<br>
			<li>Ang korapsyon ay dapat labanan <span class="target" data-accept="2">&nbsp;</span> ang pag-unlad ay ating maranasan.<br></li>
			<br>
			<li>Mag-aral ng mabuti <span class="target" data-accept="3">&nbsp;</span>, hindi maaabot ang mga pangarap.</li>
			<br>
			<li>Ang mga Pilipino ay nagkaisa <span class="target" data-accept="4">&nbsp;</span> lumaya tayo sa kamay ng mga Kastila.</li>
			<br>
			<li>Ang mga Pilipino ay likas na matapang <span class="target" data-accept="5">&nbsp;</span> malaki ang kanilang puso para sa bayan.</li>
		</ol>
	</div>
	<div>
		<div style="margin-left: -250px"><button type="submit" value="submit">Ipasa ang sagot</button></div>
		<div style="margin-left: 225px; margin-top: -53px"><button class="next" onclick="location.href='assessmentcard.html'" style="height: 45px;">Bumalik</button></div>
	</div>
	 <div class="lightbox-bg"></div>
	 <div class="status confirm">
	   <p id="magaling"> 10/5 <br>Magaling</p>
	   <button class="next" onclick="location.href='dashboard.html'">Bumalik</button>
	 </div>
	 <div class="status deny">
	   <p>Pakitapos ang pagsusulit</p>
	 </div>
	</div>
	<script> if (typeof module === 'object'){window.module = module; module = undefined;} </script>
  <script src='../jquery/jquery.min.js'></script>
<script src='../jquery/jquery-ui.min.js'></script>
<script src='../jquery/jquery.ui.touch-punch.min.js'></script>
    <script  src="../js/index4-3.js"></script>
 <script> if (window.module) module = window.module; </script>

</body>

</html>
