<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>PANGATNIG</title>
  <script src="../js/modernizr.min.js" type="text/javascript"></script>
  <link rel="stylesheet" href="../js/normalize.min.css">
  <link rel="stylesheet" href="../css/style5.css">
  <style type="text/css">
    .disablediv{
      pointer-events: none;
    }
  </style>

  
</head>

<body>

  <!-- questions taken from http://davidshariff.com/quiz/ -->
<header>
  <h5><b>Enrichment 1:</b>
  Pindutin ang kahon na √ kung tama <br>ang pangungusap at
  kahon na X kung mali<br> ang gamit ng pangatnig sa pangungusap </h5>
</header>

<div class="wrap">
  <div id="disable">
  <div class="row">
  <section data-quiz-item>
    <div class="question"><u>Datapwat</u> wala siyang alam, marami naman siyang kaibigan.</div>
    <div class="choices" data-choices='["√","X"]'>
    </div>
  </section>
  <section data-quiz-item>
    <div class="question">Gusto ka niya, <u>subalit</u> nahihiya siya na humarap sa iyo.</div>
    <div class="choices" data-choices='["√","X"]'>
    </div>
  </section>
  </div>
  <div class="row">
  <section data-quiz-item>
    <div class="question">Natuwa ang ama <u>sa wakas</u> dahil bumait ang kanyang anak.</div>
    <div class="choices" data-choices='["√","X"]'>
    </div>
  </section>
   <section data-quiz-item>
     <div class="question">Siya ay matalino <u>ngunit</u> mayabang siya.</div>
    <div class="choices" data-choices='["√","X"]'>
    </div>
  </section>
  </div>
   <div class="row">
  <section data-quiz-item>
    <div class="question"><u>Sa lahat ng ito</u>, hindi natututo ang tao dulot ng kanyang kapalaluan.</div>
    <div class="choices" data-choices='["√","X"]'>
    </div>
  </section>
  </div>
  <br>
<div id="emc-score"></div>
</div>
  <div class="submit">
  <center><button> <a href="enrichmentcard.html">Bumalik</a></button>
  <button id="emc-submit" onclick="disablebutton()">Ipasa ang sagot</button></center>
  </div>
</div>

<footer>
</footer>

<script> if (typeof module === 'object'){window.module = module; module = undefined;} </script>
  <script src='../js/jquery.min.js'></script>
  <script  src="../js/index5.js"></script>
 <script> if (window.module) module = window.module; </script>
 <script>
   function disablebutton(){
   $("#disable").addClass("disablediv");
   document.getElementById('emc-submit').disabled = true;
   }
 </script>



</body>
</html>
